{% load static %}
{% extends 'main.html' %}{% load static %}{% block content %}
   <div class="page-head section row-vm light">
    <div class="imagebg">
     <img alt="page-head" src="{% static 'images/page-inside-bg.jpg' %}"/>
    </div>
    <div class="container">
     <div class="row text-center">
      <div class="col-md-12">
       <h2>
        FAQs
       </h2>
       <div class="page-breadcrumb">
        <ul class="breadcrumb">
         <li>
          <a href="/">
           Home
          </a>
         </li>
         <li class="active">
          <span>
           Faq
          </span>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- #end Banner/Slider -->
   <!-- Section -->
   <div class="section section-pad bg-grey">
    <div class="container">
     <div class="row">
      <div class="col-md-7 res-m-bttm">
       <h4>
        Pre Answred
        <span>
         Questions
        </span>
       </h4>
       <!-- Accordion -->
       <div aria-multiselectable="true" class="panel-group accordion" id="another" role="tablist">
        <!-- each panel for accordion -->
        <div class="panel panel-default">
         <div class="panel-heading" id="accordion-i1" role="tab">
          <h6 class="panel-title">
           <a aria-expanded="false" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i1" role="button">
            What is www.centennial-investment.com?
            <span class="plus-minus">
             <span>
             </span>
            </span>
           </a>
          </h6>
         </div>
         <div aria-labelledby="accordion-i1" class="panel-collapse collapse in" id="accordion-pane-i1" role="tabpanel">
          <div class="panel-body">
           <p>
            We are a company who specializes in both foreign exchange, cryptocurrency exchange, and mid to long term investment opportunities to accrue profits for our investors and partners. You can currently earn up to 10% Daily interest with our investment plans.
           </p>
          </div>
         </div>
        </div>
        <!-- each panel for accordion -->
        <div class="panel panel-default">
         <div class="panel-heading" id="accordion-i2" role="tab">
          <h6 class="panel-title">
           <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i2" role="button">
            What I need to do to become an investor?
            <span class="plus-minus">
             <span>
             </span>
            </span>
           </a>
          </h6>
         </div>
         <div aria-labelledby="accordion-i2" class="panel-collapse collapse" id="accordion-pane-i2" role="tabpanel">
          <div class="panel-body">
           <p>
            To become an Investor of forexindex.cc you need to open an account. Registering an account is 100% free and only takes a few seconds. Please be sure you agree to our terms and rules before signing up however.
           </p>
          </div>
         </div>
        </div>
        <!-- each panel for accordion -->
        <div class="panel panel-default">
         <div class="panel-heading" id="accordion-i3" role="tab">
          <h6 class="panel-title">
           <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i3" role="button">
            How long does it take for my deposit to become active?
            <span class="plus-minus">
             <span>
             </span>
            </span>
           </a>
          </h6>
         </div>
         <div aria-labelledby="accordion-i3" class="panel-collapse collapse" id="accordion-pane-i3" role="tabpanel">
          <div class="panel-body">
           <p>
            Deposits are active as soon as the payment is completed.
            <br/>
            Bitcoin = 3 Confirmation
Ethereum = 1 Confirmation
           </p>
          </div>
         </div>
         <!-- each panel for accordion -->
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i4" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i4" role="button">
             How long do withdraw requests take to get processed?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i4" class="panel-collapse collapse" id="accordion-pane-i4" role="tabpanel">
           <div class="panel-body">
            <p>
             We offer instant withdraws for cryptocurrency withdraws may take up to 24 hours to be processed. If a payment takes more than 24 hours to process please contact our support team first. It is possible it is stuck in our system or in payment API so please let us check first.
            </p>
           </div>
          </div>
         </div>
         <!-- end each panel -->
         <!-- each panel for accordion -->
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i5" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i5" role="button">
             During registration, I was asked to provide the Bitcoin address. What is this?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i5" class="panel-collapse collapse" id="accordion-pane-i5" role="tabpanel">
           <div class="panel-body">
            <p>
             Bitcoin address is your ID (account, wallet number), starting with 1 or 3 and containing 27-34 alphanumeric Latin characters (other than 0, O, I). The address can also be represented as a QR-code, it is anonymous and does not contain information about the owner.
            </p>
           </div>
          </div>
         </div>
         <!-- end each panel -->
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i6" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i6" role="button">
             What fees are provided for the withdrawal of the dividends received from the program?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i6" class="panel-collapse collapse" id="accordion-pane-i6" role="tabpanel">
           <div class="panel-body">
            <p>
             There are no fees for withdrawal.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i7" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i7" role="button">
             Where can I buy Bitcoins and other cryptocurrencies?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i7" class="panel-collapse collapse" id="accordion-pane-i7" role="tabpanel">
           <div class="panel-body">
            <p>
             We can recommend Coinbase, Binance, or Localbitcoins depending on what is available to your region. Certain options may be easier than others. We recommend you do your own research if our suggested options do not work for you. If you need help, you can ask our team and we will help find a reliable supplier for you.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i8" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i8" role="button">
             How much can I invest here?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i8" class="panel-collapse collapse" id="accordion-pane-i8" role="tabpanel">
           <div class="panel-body">
            <p>
             Currently we have our limits set at minimum of $50 USD and up to a maximum of 1BILLION USD. If you are depositing with cryptocurrency, the amount and exchange rate is determined and shown to you on deposit page.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i9" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i9" role="button">
             When will I get my first profits?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i9" class="panel-collapse collapse" id="accordion-pane-i9" role="tabpanel">
           <div class="panel-body">
            <p>
             Profit is generated on a daily basis, the first accrual will be after 1 day (24 hours).
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i10" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i10" role="button">
             Are profits also accrued on weekends?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i10" class="panel-collapse collapse" id="accordion-pane-i10" role="tabpanel">
           <div class="panel-body">
            <p>
             Yes, profits are also accrued on Saturdays and Sundays.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i11" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i11" role="button">
             How secure is your website and my account data?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i11" class="panel-collapse collapse" id="accordion-pane-i11" role="tabpanel">
           <div class="panel-body">
            <p>
             We have a wide range of security measures to protect your account. Our website is protected against DDoS attacks, all transferred data are SSL-encrypted. We use a licensed script for transactions together with online security certificates, you are able to see full list on our main page. Our website is located on a one of the best dedicated server.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i12" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i12" role="button">
             Which e-currencies do you accept?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i12" class="panel-collapse collapse" id="accordion-pane-i12" role="tabpanel">
           <div class="panel-body">
            <p>
             Bitcoin and Ethereum
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i13" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i13" role="button">
             What is the minimum withdrawal amount?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i13" class="panel-collapse collapse" id="accordion-pane-i13" role="tabpanel">
           <div class="panel-body">
            <p>
             The minimum to withdraw is different for each e-currency method. Please see below:
             <br/>
             $3.00 USD Minimum

There is a minimum withdraw amount applied to all cryptocurrency methods to prevent abuse and also because the fee on the various BLOCKCHAINS can vary which we absorb.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i14" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i14" role="button">
             Can I deposit directly from my account balance?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i14" class="panel-collapse collapse" id="accordion-pane-i14" role="tabpanel">
           <div class="panel-body">
            <p>
             Yes, You can make a deposit from your account balance. Simply log into your member account, click "Make Deposit" and select "Deposit" from "Account Balance" button.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i15" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i15" role="button">
             What are the benefits of the referral program? How can I participate?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i15" class="panel-collapse collapse" id="accordion-pane-i15" role="tabpanel">
           <div class="panel-body">
            <p>
             All registered users are automatically enrolled in our affiliate program starting at the "Standard" level and earns 1% from your referrals deposits. You can earn up to 12% from referrals deposits depending on your affiliate level. Deposits made from account balance (re-invest) also generate affiliate commissions the same ways.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i16" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i16" role="button">
             Can I deposit directly from my account balance?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i16" class="panel-collapse collapse" id="accordion-pane-i16" role="tabpanel">
           <div class="panel-body">
            <p>
             The referral commission is accrued to your account balance instantly to the corresponding e-currency
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i17" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i17" role="button">
             Do I have to invest funds to receive referral commissions?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i17" class="panel-collapse collapse" id="accordion-pane-i17" role="tabpanel">
           <div class="panel-body">
            <p>
             No, to use your affiliate link and to receive referral commissions, it is not necessarily to have your own active deposit.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i18" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i18" role="button">
             Can my referrals register from the same IP?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i18" class="panel-collapse collapse" id="accordion-pane-i18" role="tabpanel">
           <div class="panel-body">
            <p>
             Yes, it is allowed but each person may only have one account. If it is found that one person owns more than one account all the accounts associated will be disabled.
            </p>
           </div>
          </div>
         </div>
         <div class="panel panel-default">
          <div class="panel-heading" id="accordion-i19" role="tab">
           <h6 class="panel-title">
            <a aria-expanded="false" class="collapsed" data-parent="#another" data-toggle="collapse" href="#accordion-pane-i19" role="button">
             I havent found an answer to my question. What can I do?
             <span class="plus-minus">
              <span>
              </span>
             </span>
            </a>
           </h6>
          </div>
          <div aria-labelledby="accordion-i19" class="panel-collapse collapse" id="accordion-pane-i19" role="tabpanel">
           <div class="panel-body">
            <p>
             If your question is not answered in the FAQs section, please contact the Support Team. To do so, please click the "Support" button on the right-hand side of the screen menu or contact our online assistant on chat. Our Support Team will process your request immediately. We also look forward to your feedback which we will use to improve our platform and website.
            </p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!-- End Section -->
   {% endblock content %}