{% extends 'main.html' %}

{% load static %}

{% block content %}
<!-- End Navbar -->
        <div class="aboutwrap">


            <div class="content">
           
           
                 <div class="welcomeblock">
           
                   <div class="welcomeright flash wow">
                     <h2 class="fadeInUpBig wow">welcome to <span>Prime Finance</span></h2>
                       <p>Prime Finance is a true opportunity to earn on cryptocurrency.</p>
                       <p>Nowadays cryptocurrency is one of the main payment instruments, which can be used online. Prime Finance has been using this kind of digital payment for quite a while to gain and raise profit.</p>
                       <p>Prime Finance, is an officially registered company which gives its clients all required guarantees, including confidentiality of data provided by clients at the registration procedure. Apart from this we guarantee accrual of requested payments in due time and full amount. The company's system, including support service, works 24 hours, which means you are always welcome to contact our experts in case you have any questions.</p>
                       <p>Prime Finance, provides its clients with an opportunity to invest money into mining farms located all around the world to obtain quite a big income later, which can be done even without client's direct participation. The company actively uses trading bots on digital currency stock-markets, which is very convenient and profitable. We also try to attract new partners and share our experience with the like-minded people all over the world.</p>
           
           
                   </div>
           
                      <div class="welcomeleft bounceInRight wow"> <img src="{% static './assets/images/finance.jpg' %}" alt=""> </div>
           
                 </div>
                 <br><br>
           
               </div>
            </div>

       
        <!-- End Navbar -->
       
    </header>
    <!-- who we are -->
    <div class="section section-pad bg-grey">
        <div class="container">
            <div class="row row-vm">
                <div class="col-md-5">
                    <div class="round mgr--30 res-m-bttm"><img src="{%static 'images/photo-md-a.jpg' %}" alt="photo-md" class="img-shadow"></div>
                </div>
                <div class="col-md-6 col-md-offset-1 ">
                    <div class="text-block">
                        <h2> Who We Are</h2>
                      <p>Advice and guides Taking the time to manage your money better can really pay off. It can help you stay on top of your bills.

                        Quick & smart Tools We have the best financial trading tools which can help you grow your finances smartly.
                        
                        Friendly support, Support in person, over the email and online. Web chat is available from 24Hours.</p>
                            <a href="/accounts/signup" class="btn btn-alt">Open free account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- who we are -->

    <!-- End Header -->


    <div class="featureswrap">
        <h2 class="zoomIn wow" style="text-align: center;"><span>Prime financing</span> Features</h2>
        <div class="content">
            <div class="feature">
                    <img src="{% static './assets/images/feat1.png' %}" alt="">
                    <h1>24/7 Customer Support</h1>
                    <p>We provide 24/7 customer support through e-mail. Our support representatives are always available to answer any questions.</p>
            </div>
    
            <div class="feature">
                    <img src="{% static './assets/images/feat2.png' %}" alt="">
                    <h1>Dedicated Server</h1>
                    <p>We use a dedicated server with the highest level of DDOS protection to ensure that your funds are always safe with us.</p>
            </div>
    
    
    
            <div class="feature">
                    <img src="{% static './assets/images/feat3.png' %}" alt="">
                    <h1>ev ssl</h1>
                    <p>Our website is secured with 256-bit encryption from Comodo with Extended Validation that verifies the authenticity of our company.</p>
            </div>
    
    
            <div class="feature">
                    <img src="{% static './assets/images/feat4.png' %}" alt="">
                    <h1>Australia registered company</h1>
                    <p>Our company is legally registered in Australia as &ldquo;Prime financing".</p>
            </div>
    
    
            <div class="feature">
                    <img src="{% static './assets/images/feat5.png' %}" alt="">
                    <h1>instant withdrawals</h1>
                    <p>Our withdrawals are all processed instantly after they are requested . Minimum withdrawal is 0.001&#579 and 0.01 For Perfectmoney ,Payeer.</p>
            </div>
    
    
            <div class="feature">
                    <img src="{% static './assets/images/feat6.png' %}" alt="">
                    <h1>ddos protected system</h1>
                    <p>We use the highest level of protection . Our website can resists attacks of any size.</p>
            </div>
    
    
    
    
        </div>
    </div>
    

<!--End Section -->

<!-- our services section -->

<section class="main__services">
    <h1> our services</h1>
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <aside class="main__childs swiper-slide">
                <div class="main__service-child">
                    <h2>Cryptocurrency Trading</h2>
                                            
                    <p>Cryptocurrency trading is the forex of cryptocurrencies. This means, you are able to trade different bitcoin and altcoin normally for USD and BTC. The skyrocketing rise in cryptocurrency value is shaking up the financial markets. Cryptocurrency market was valued at $500 billion U.S Dollars at the end of 2017. Its value rose over 360% from the beginning of 2017. Cryptocurrencies are known for their rapid price movements, providing potentially high returns on investment.</p>
                <button>learn more</button> <button>about us</button>
                </div>
                <div class="main__service-child1">
                    <img src="{% static './images/pexels-amol-mande-2684011.jpg' %}" alt="">
                </div>
            </aside>
            <aside class="main__childs swiper-slide">
                <div class="main__service-child">
                    <h2>Real Estate</h2>
                                            
                    <p>We partner with experienced developers that have a track record of success, invests in properties in locations with high growth potential, offers investments in major markets with solid fundamentals to avoid potential bubbles and invests in projects that will improve neighborhoods, eventually boosting the properties’ overall value. We offer investors several different asset classes to choose from, including high-rise buildings or family homes.</p>
                <button>learn more</button> <button>about us</button>
                </div>
                <div class="main__service-child1">
                    <img src="{% static './images/pixels.jpg' %}" alt="">
                </div>
            </aside>
            <aside class="main__childs swiper-slide">
                <div class="main__service-child">
                    <h2>Retirement Income</h2>
								
                    <p>For employers, defined contribution retirement plans represent freedom from financial volatility, traditional pension risk, market volatility, and long-term financial uncertainty; however, they also impose new risks and responsibilities on the employer. For employees, defined contributions offer individual control, greater flexibility, and, in an ideal world, access to institutionally priced investments. Secure the future of your finance even after you retire</p>
                    <button>learn more</button> <button>about us</button>
                </div>
                <div class="main__service-child1">
                    <img src="{% static './images/pexels-venugopal-nagandla-1108812.jpg' %}" alt="">
                </div>
            </aside>
            <aside class="main__childs swiper-slide">
                <div class="main__service-child">
                    <h2>Commodities</h2>
								
                    <p>Our clients’ assets are located across 382,000 acres of prime farmland in major agricultural regions including California, the Midwest, the Mississippi Delta, the Pacific Northwest, the Southern Plains, and Southeast United States; Queensland, Victoria, South Australia and New South Wales Australia; and Quebec and Alberta, Canada. Our agricultural team manages over 900 million USD of agricultural farmland assets on behalf of its institutional investors, including public and private plans</p>
                    <button>learn more</button> <button>about us</button>
                </div>
                <div class="main__service-child1">
                    <img src="{% static './images/pexels-burak-the-weekender-187041.jpg' %}" alt="">
                </div>
            </aside>
            <aside class="main__childs swiper-slide">
                <div class="main__service-child">
                    <h2>Forex Trading</h2>
								
                    <p>Forex is the largest and most liquid market in the world with an average daily turnover of $3.98 trillion. The Fx market is open 24 hours a day, 5 days a week with the most important world trading centers being located in London, New York, Tokyo, Zurich, Frankfurt, Hong Kong, Singapore, Paris, and Sydney. Trading is said to be conducted ‘over the counter’; it’s not like stocks where there is a central marketplace with all orders processed like the NYSE</p>
                    <button>learn more</button> <button>about us</button>
                </div>
                <div class="main__service-child1">
                    <img src="{% static './images/pixels.jpg' %}" alt="">
                </div>
            </aside>
        </div>
        <div class="swiper-pagination"></div>
      </div>

</section>
<!-- our services section ends -->
 <!-- start about section -->
 <section class="bg-light-gray main__about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 sm-margin-30px-bottom wow zoomIn">
                <div class="padding-30px-right" style="background-color: white;padding:1rem;">

                    <h4 class="font-weight-600">ABOUT Prime finance</h4>

                    <p class="margin-10px-bottom"><span class="font-weight-600">“Frontier in the Fintech space, we have shown the way others now follow ” </span> and have maintained the status of 'first' in many dimensions of the investment space.
                    </p>
                    <p class="margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">Prime finance is a blockchain-based investment company created to help the average person reach her/his financial dream.</p>
                    <div class="aboutus-text border-left margin-30px-bottom sm-margin-25px-bottom xs-margin-20px-bottom">
                        <i class="fas fa-quote-left padding-30px-left xs-padding-20px-left opacity2"> </i>
                        <p class="padding-30px-left xs-padding-20px-left no-margin">At Prime finance, we take responsibility for investor's success and portfolio performance</p>
                        <span class="padding-30px-left xs-padding-20px-left text-theme-color">
                            Founder</span>
                    </div>
                    <p class="no-margin-bottom">Prime finance builds and manages portfolios tailored to the investor's financial needs, and deploys technology with expertise to ensure these financial goals are met.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 wow fadeInUp">
                <div class="story-video bg-img cover-background" data-overlay-dark="0" data-background="{% static './images/present.jpg' %}">
                 
                    <div class="text-center center-col absolute-middle-center z-index-1">
    
                        <a class="video" href="https://vimeo.com/779669196">
                            <span class="video_btn margin-10px-right margin-15px-bottom">
                                <i class="fas fa-play font-size18 xs-font-size16"></i>
                            </span>
                        </a>
                    </div>
                    <div class="inner-border"></div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end about section -->
    <section class="swiperjs">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
              
              <div class="swiper-slide">
                <img src="{% static './images/tfbg.jpg' %}" alt="">
                <div class="tpcaption tpabsolute">
                    <div class="connect">
                        conntect payment globalise
                    </div>
                    <h1> Crest Investment <br> pays</h1>
                    <div class="tpbutton">
                        Register now
                    </div>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="{% static './images/investing.jpg' %}" alt="">
                <div class="tpcaption2" style="color: black;">
                    <span>subscription bonus</span>
                    <h2 style="color: black;"> Assured Return On Investment</h2>
                    <p>register now and get 1000 usd instantly</p>
                    <button>register now</button>
                </div>
              </div>
              <div class="swiper-slide">
                <img src="{% static './images/investing2.jpg' %}" alt="">
                <div class="tpcaption3">
                    <span>Send and recieve money instantly</span>
                    <h2>Makes life easy</h2>
                    <p>you can instantly send and recieve money almost anywhere in the world</p>
                    <button>get started</button>
                </div>
              </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
          </div>
    </section>

    <!-- start what we do section -->
<section class="what__we__do">
    <div class="container">
        <div class="section-heading wow slideInLeft another"><span>Welcome To Prime finance</span>
            <h3>What We Do</h3>
            <p class="width-55 sm-width-75 xs-width-95">We are an investment company, using blockchain technology to drive secure and profitable investments and manage portfolios for our clients. We take our client's financial dreams and make them a reality.</p>
        </div>
        <div class="row feature-boxes-container">

            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom feature-box-04 wow slideInUp">
                <div class="feature-box-inner">
                    <i class="icon-layers font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                        Identify Assets</h4>
                    <div class="sepratar"></div>
                    <p>We identify high potential assets using our intelligent financial markets systems, combined with expert advice.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-12 sm-margin-20px-bottom feature-box-04 wow slideInUp">
                <div class="feature-box-inner">
                    <i class="icon-genius font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                        Analyze Risks</h4>
                    <div class="sepratar"></div>
                    <p>We carry out risk-reward analysis to determine the risk exposure for each asset we select.</p>
                </div>

            </div>

            <div class="col-lg-4 col-md-12 feature-box-04 wow slideInUp">
                <div class="feature-box-inner">
                    <i class="icon-hotairballoon font-size50 md-font-size46 sm-font-size40 xs-font-size38"></i>
                    <h4 class="font-size15 xs-font-size14 margin-10px-top xs-margin-8px-top text-uppercase font-weight-600 text-black">
                        Manage Portfolio</h4>
                    <div class="sepratar"></div>
                    <p>We create and manage client portfolio using artificial intelligence and expert investment managers.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- end what we do section -->
    <!-- Start Boxes Area -->
 <section class="boxes-area pb-70">
    <h2 style="text-align: center;">why choose us</h2>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <!-- <i class="flaticon-research"></i> -->
                        <img src="{% static 'images/rocket.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Regulated Custodian</a></h3>
                    <p>
                        All investments are backed by mandatory capital reserves as a regulated entity. We hold a financial services licence which authorizes us to issue and act as a trustee to investment schemes.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static 'images/announce.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Transparency</a></h3>
                    <p>No hidden charges, maintenance or withdrawal fee. Transparency is the only policy and we strive to achieve the best result with integrity, not just with our clients, but also our traders.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static 'images/announc image.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Secured Transactions</a></h3>
                    <p>
                        Security tops our list of interest, our very dynamic platform is protected & encrypted using government standard AES encryption. You can be confident about the safety of your funds and personal information.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static 'images/social.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Reliable Client Support</a></h3>
                    <p>
                       

Our dedicated client support team provides all clients with personalized service and support. Work privately with one of our experienced traders straight through settlement.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static 'images/marketing.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#">Instant Funding</a></h3>
                    <p>
                        All our Funding options including deposits and payouts are processed immediately it's approved not to delay investor's activity and to enable fast closure of transaction</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                <div class="single-boxes-box">
                    <div class="icon">
                        <img src="{% static 'images/folder.png' %}" class="alt" alt="">
                        <div class="circles-box">
                            <div class="circle-one"></div>
                        </div>
                    </div>
                    <h3><a href="#"> Deep Market Liquiditys</a></h3>
                    <p>
                       
                        Digital Finance Online's global network of institutional and individual traders and investors hail from over 100 countries worldwide and provide great depth to our trading book.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Boxes Area -->
    <section class="people__image">
        <div class="people__image-flex">
            <img src="{% static './images/vision3.jpg' %}" alt="">
            <div class="people__image-text">
                Our vision
            </div>
        </div>
        <div class="people__image-flex">
            <img src="{% static './images/vision.jpg' %}" alt="">
            <div class="people__image-text">
                Our Aim
            </div>
        </div>
        <div class="people__image-flex">
            <img src="{% static './images/vision2.jpg' %}" alt="">
            <div class="people__image-text">
                Our Mission
            </div>
        </div>
    </section>
    <!--Section -->
    <!-- BTC Ticker -->
    <div class="btc-ticker">
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="usd"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="eur"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="jpy"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="gbp"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="chf"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="aud"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="cad"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="nzd"></div>
        </div>
        <div class="ticker-item">
            <div class="btcwdgt-price" bw-cur="nzd"></div>
        </div>
    </div>
    <!-- End BTC Ticker -->
    <div style="width: 100%; height:62px; background-color: #FFFFFF; overflow:hidden; box-sizing: border-box; border: 1px solid #56667F; border-radius: 4px; text-align: right; line-height:14px; block-size:62px; font-size: 12px; box-sizing:content-box; font-feature-settings: normal; text-size-adjust: 100%; box-shadow: inset 0 -20px 0 0 #56667F;padding:1px;padding: 0px; margin: 0px;">
        <div style="height:40px;"><iframe src="https://widget.coinlib.io/widget?type=horizontal_v2&amp;theme=light&amp;pref_coin_id=1505&amp;invert_hover=" width="100%" height="36" scrolling="auto" marginwidth="0" marginheight="0" frameborder="0" border="0" style="border:0;margin:0;padding:0;"></iframe></div>
    </div>
 
    
    <!-- Banner/Slider -->
    <!-- <div id="header" class="banner header-slider">
        <div class="single-slide light row-vm" style="background-image:url(images/header-bg-a.jpg)">
            <div class="container">
                <div class="banner-content">
                    <div class="row">
                        <div class="col-md-6">
                            <h1 class="animate-bottom delayms5">Trade Cryptocurrencies<br /><span class="ucap">The digital broker you need to succeed.</span></h1>
                            <p class="lead animate-bottom delayms7">Invest and Earn profitably from all your Investments. A sure path to Financial Freedom.</p>
                            <ul class="btns animate-bottom delayms9">
                                <li><a href="register.html" class="btn">Join Now</a></li>
                                <li><a href="login.html" class="btn btn-outline">Log In</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide light row-vm" style="background-image:url(images/header-bg-b.jpg)">
            <div class="container">
                <div class="banner-content">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <h1 class="animate-bottom delayms5">30+ assets.
                                <br /><span class="ucap">One account</span>
                            </h1>
                            <p class="lead animate-bottom delayms7">Become a www.centennial-investment.com affiliate partner with over 3,500 partners so far.
                                Get up to 20% of what your referred users pay in trading fees</p>
                            <ul class="btns animate-bottom delayms9">
                                <li><a href="register.html" class="btn">Join Now</a></li>
                                <li><a href="login.html" class="btn btn-outline">Log In</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <!-- End Banner/Slider -->
    

      

   


    <!-- Features Box -->
    <div class="features-box section section-pad">
        <div class="container">
            <div class="row text-center">
                <h3>How and Where to buy bitcoin?</h3>
                <div class="col-md-3 col-sm-6 res-m-bttm">
                    <div class="box box-alt-bg round shadow">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/hzHLeeU1tFE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h6 class="ucap"><a href="https://www.localbitcoins.com/">www.localbitcoins.com</a></h6>
                        <p class="small">You can buy bitcoin with localbitcoins.com by clicking on the link above.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 res-m-bttm">
                    <div class="box box-alt-bg round shadow">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/OtqlUJSLbXo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h6 class="ucap"><a href="https://www.blockchain.info/">www.blockchain.info</a></h6>
                        <p class="small">You can buy bitcoin with blockchain.info by clicking on the link above.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 res-m-bttm">
                    <div class="box box-alt-bg round shadow">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/EjB5qFW0bJ8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h6 class="ucap"><a href="https://www.paxful.com/">www.paxful.com</a></h6>
                        <p class="small">You can buy bitcoin with paxful.com by clicking on the link above.</p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="box box-alt-bg round shadow">
                        <iframe width="200" height="100" src="https://www.youtube.com/embed/txYefByOD_8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <h6 class="ucap"><a href="https://www.coinbase.com/">www.coinbase.com</a></h6>
                        <p class="small">You can buy bitcoin with coinbase.com by clicking on the link above.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Features Box -->

    <!--Section -->
    <div class="section section-pad">
        <div class="container">
            <div class="section-head">
                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <h2 class="heading-section">Testimonial</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="gaps size-3x"></div>
            <div class="row text-center">
                <div class="col-md-6 col-md-offset-3">
                    <div class="testimonial-carousel has-carousel" data-items="1" data-loop="true" data-dots="true" data-auto="true">
                        <div class="testimonial-item">
                            <div class="client-photo circle">
                                <img src="{% static 'images/corem.jpg' %}" alt="client">
                                <em class="fa fa-quote-right"></em>
                            </div>
                            <blockquote>Hi, I have been using the services provided by www.centennial-investment.com for 3 months, the most I have made in a week is $4000. The services www.centennial-investment.com has offered have enabled me to gain an additional source of income while at college. It has also made me develop lots of different skills and think about things differently."</blockquote>
                            <div class="client-info">
                                <h6>Guy Corem</h6>
                                <span></span>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="client-photo circle">
                                <img src="{% static 'images/rebecca.jpg' %}" alt="client">
                                <em class="fa fa-quote-right"></em>
                            </div>
                            <blockquote>I have recently joined this platform which has already helped me make up to $7000 weekly from my phone while at home on my retirement</blockquote>
                            <div class="client-info">
                                <h6>Rebecca sjolin</h6>
                                <span></span>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="client-photo circle">
                                <img src="{% static 'images/ellen.jpg' %}" alt="client">
                                <em class="fa fa-quote-right"></em>
                            </div>
                            <blockquote>I was really behind on a few payments and I was looking for a way to cover it. Luckily I found www.centennial-investment.com and through the help of my really patient account manager I soon learned how to Trade. Not only did my debts vanish but I started generating a really nice side income.</blockquote>
                            <div class="client-info">
                                <h6>Olv Ellen</h6>
                                <span></span>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="client-photo circle">
                                <img src="{% static 'images/client-a.jpg' %}" alt="client">
                                <em class="fa fa-quote-right"></em>
                            </div>
                            <blockquote>From the help of www.centennial-investment.com I am now earning my weeks worth of wage in a day all from my phone! Offering a range of good services has also helped me all throughout and resolved any issues I've had along the way, definitely best in the business"</blockquote>
                            <div class="client-info">
                                <h6>Alex Morgan</h6>
                                <span></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Section -->
 

   

    <!--Section -->
    <div class="section section-pad">
        <div class="container">
            <div class="section-head">
                <div class="row text-center">
                    <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <h2 class="heading-section">Get Started with Our Flexible plans</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- section -->
            <div class="section-pad section">
                <div class="container">

                    <div class="gaps size-3x"></div>
                    <div class="row text-center">
                        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm">
                            <div class="box-miner box-miner-alt">
                                <div class="box-miner-price">
                                    <span class="price-unit">Plan 1</span>
                                    5
                                    <span class="price-for">%</span>
                                </div>
                                <h4 class="box-miner-title">After 24 hours</h4>
                                <ul class="box-miner-list">
                                    <li>
                                        <span>Minimum Deposit $50</span>
                                    </li>
                                    <li>
                                        <span>Maximum Deposit $10000</span>
                                    </li>
                                    <li>
                                        <span>Plan Duration 24 Hours</span>
                                    </li>
                                    <li>
                                        <span>Principal: Included in profit</span>
                                    </li>
                                    <li>
                                        <span>Instant Payout</span>
                                    </li>
                                    <li>
                                        <span>24/7 Live Support</span>
                                    </li>
                                    <li>
                                        <div class="box-miner-cta">
                                            <a href="/accounts/signup" class="btn btn-md btn-alt">Get Started</a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </div><!-- col -->
                        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2 res-m-bttm">
                            <div class="box-miner box-miner-alt">
                                <div class="box-miner-price">
                                    <span class="price-unit">Plan 2</span>
                                    12
                                    <span class="price-for">%</span>
                                </div>
                                <h4 class="box-miner-title text-center">After 48 hours</h4>
                                <ul class="box-miner-list">
                                    <li>
                                        <span>Minimum Deposit $3000</span>
                                    </li>
                                    <li>
                                        <span>Maximum Deposit $50000</span>
                                    </li>
                                    <li>
                                        <span>Plan Duration 48 Hours</span>
                                    </li>
                                    <li>
                                        <span>Principal: Included in profit</span>
                                    </li>
                                    <li>
                                        <span>Instant Payout</span>
                                    </li>
                                    <li>
                                        <span>24/7 Live Support</span>
                                    </li>
                                    <li>
                                        <div class="box-miner-cta">
                                            <a href="/accounts/signup" class="btn btn-md btn-alt">Get Started</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- col -->
                        <div class="col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2">
                            <div class="box-miner box-miner-alt">
                                <div class="box-miner-price">
                                    <span class="price-unit">Plan 3</span>
                                    25
                                    <span class="price-for">%</span>
                                </div>
                                <h4 class="box-miner-title text-center">4 Days</h4>
                                <ul class="box-miner-list">
                                    <li>
                                        <span>Minimum Deposit $5000</span>
                                    </li>
                                    <li>
                                        <span>Maximum Deposit Unlimited</span>
                                    </li>
                                    <li>
                                        <span>Plan Duration 4 Days</span>
                                    </li>
                                    <li>
                                        <span>Principal: Included in profit</span>
                                    </li>
                                    <li>
                                        <span>Instant Payout</span>
                                    </li>
                                    <li>
                                        <span>24/7 Live Support</span>
                                    </li>
                                    <li>
                                        <div class="box-miner-cta">
                                            <a href="/accounts/signup" class="btn btn-md btn-alt">Get Started</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- col -->
                    </div>
                </div>
            </div>
            <!--End section -->

        </div>
    </div>
    <!--End Section -->

    <div class="gaps"></div>
    <div class="container">
        <div class="row">
            <center>
                <div class="col-md-3 res-m-bttm-sm">
                    <h4>Runing Days</h4>
                    <h6>1097</h6>
                </div>
                <div class="col-md-3 res-m-bttm-sm">
                    <h4>Total Accounts</h4>
                    <h6>54186</h6>
                </div>
                <div class="col-md-3 res-m-bttm-sm">
                    <h4>Total Investment</h4>
                    <h6>$10M+</h6>
                </div>
                <div class="col-md-3">
                    <h4>Total Paidout</h4>
                    <h6>$10M+</h6>
                </div>
            </center>
        </div>
    </div>
    <div class="gaps"></div>

    <!--Section -->
    <div class="section section-pad has-bg light dark-filter">
        <div class="imagebg has-parallax">
            <img src="{% static 'images/calc-bg.jpg' %}" alt="calc-bg">
        </div>
        <div class="container">
            <div class="row row-vm">
                <div class="col-md-5">
                    <div class="text-block">
                        <h2>Currency Calculator</h2>
                        <p>Calculate your Bitcoin price.</p>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="bitcoin-calculator">

                        <script>
                            baseUrl = "https://widgets.cryptocompare.com/";
                            var scripts = document.getElementsByTagName("script");
                            var embedder = scripts[scripts.length - 1];
                            (function() {
                                var appName = encodeURIComponent(window.location.hostname);
                                if (appName == "") {
                                    appName = "local";
                                }
                                var s = document.createElement("script");
                                s.type = "text/javascript";
                                s.async = true;
                                var theUrl = baseUrl + 'serve/v1/coin/converter?fsym=BTC&tsyms=USD,EUR,CNY,GBP';
                                s.src = theUrl + (theUrl.indexOf("?") >= 0 ? "&" : "?") + "app=" + appName;
                                embedder.parentNode.appendChild(s);
                            })();

                        </script>

                    </div>
                    <a href="/accounts/signup" class="btn">Join now</a>
                </div>
            </div>
        </div>
    </div>
    <!--End Section -->



    <!--Section -->
    <div class="section section-pad bg-grey">
        <div class="container">
            <div class="row row-vm">
                <div class="col-md-6">
                    <div style="padding:75% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/779669196?h=3329c335b7&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;" title="prime finance.mp4"></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
                </div>
                <div class="col-md-5 col-md-offset-1 ">
                    <div class="text-block">
                        <h2>Trade with 1:100 Leverage<br />No worries</h2>
                        <p>Increase your cryptocurrency profits by using leverage (margin). Every $1 provides you with a $100 of buying (or selling) power. Using leverage you can get exposure to a much larger position than with a standard exchange.</p>
                        <p></p>
                        <a href="/accounts/signup" class="btn btn-alt">get started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Section -->



    <!-- Section -->
    <div class="section section-pad">
        <div class="container">
            <div class="row row-vm">

                <div class="col-md-5">
                    <div class="text-block">
                        <h2>Open a free account
                            and trade Cryptocurrencies, Forex, Indices, commodities with 100x Leverage now!</h2>
                        <p>It takes few seconds to register and requires no personal information to get the full access to the leveraged trading platform.</p>
                        <a class="btn btn-outline btn-alt btn-md" href="register.html">Open account</a>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1">
                    <div class="round mgr--30 res-m-bttm"><img src="{% static 'images/photo-md-aa.jpg' %}" alt="photo-md" class="img-shadow"></div>
                </div>
            </div>
        </div>
        <div class="row mobile-center">

        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <!-- End Section -->



    <!-- Section -->
    <div class="section section-pad-md bg-grey">
        <div class="container">
            <div class="content row">
                <div class="owl-carousel has-carousel no-dots" data-items="7" data-loop="true" data-dots="false" data-auto="true">
                    <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'images/client1.png' %}"></div>
                    <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'images/client2.png' %}"></div>
                    <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'images/client3.png' %}"></div>
                    <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'images/client4.png' %}"></div>
                    <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'images/client5.png' %}"></div>
                    <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'images/client6.png' %}"></div>
                    <div class="logo-item"><img alt="" width="190" height="82" src="{% static 'images/client7.png' %}"></div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Section -->


    <!-- Section Footer -->
{%endblock content%}